@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.font-lobster {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
}

.parent {
  padding-right: 8%;
  padding-left: 8%;
}

@media only screen and (max-width: 600px) {
  .parent {
    padding-right: 5%;
    padding-left: 5%;
  }

  .text-button-mobile {
    font-size: 10px;
  }
}


.visible {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 40;
  height: 4rem;
  transition: 0.3s linear;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.nav-hidden {
  top: -80px;
}